body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-image: url("./images/ocean_background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.game-container {
    display: flex;
}

.root {
    display: flex;
}

.welcomeScreen {
    /* background-image: url("./images/ruleboard.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
    background-color: lightslategray;
    border: 2px solid brown;
    padding: 2%;
    font-size: 1.5em;
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article p {
    font-weight: 500;
    color: rgb(248, 209, 34);
}

button {
    font-size: 1.2em;
    background-color: midnightblue;
    color: whitesmoke;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

.game-container {
    border: 2px solid rgb(255, 255, 255);
}

.square {
    width:  55px;
    height: 55px;
    border: 1px solid rgb(255, 255, 255, 0.3);
    background-color: hsla(195, 53%, 79%, 0.3);
    
}

.ship {
    /* background-color: red; */
}

.Carrier {
    /* background-image: url('./battleship-assets/Carrier/ShipCarrierHull.png'); */
}

.shiny {
    background-color: pink;
}

.root {
    height: 100%;
    width: auto;
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
}

.hit {
    background-color: pink;
}