* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-image: url("./images/ocean_background2.jpg");
    /* background-image: url("./images/Sprite-0002.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header, footer {
    flex: 0 0 auto;
}

main {
    flex: 1 0 auto
}

.game-container {
    display: flex;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.root {
    display: flex;
}

.welcomeScreen, .postGame {
    /* background-image: url("./images/ruleboard.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
    background-color: lightslategray;
    border: 2px solid brown;
    padding: 2%;
    font-size: 1.5em;
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article p {
    font-weight: 500;
    color: rgb(248, 209, 34);
}

button {
    font-size: 1.2em;
    background-color: midnightblue;
    color: whitesmoke;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

.game-container {
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    
}

.square {
    width:  3em;
    height: 3em;
    border: 1px solid rgb(255, 255, 255, 0.3);
    background-color: hsla(195, 53%, 79%, 0.3);
    
}

.statusBar > div{
    height: auto;
    width: 20%;
}

.statusBar .PatrolBoat {
    width: 20%;
    height: auto;
}

.statusBar {
    display: flex;
    height: 5em;
    width: 100%;
    background-color: aliceblue;
}

.ship {
}

.Carrier {
    /* background-image: url('./battleship-assets/Carrier/ShipCarrierHull.png'); */
}

.shiny {
    background-color: pink;
}

.attack {
    background-color: lightblue;
}

.root {
    height: 100%;
    width: auto;
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
}

.hit {
    background-color: pink;
}

@media (max-width: 1200px) {
    .root:first-child, .root:nth-child(2) {
        flex-direction: column;
        }
    .square {
        width: 2em;
        height: 2em;
    }
    .statusBar {
        height: 3em;
    }

    .welcomeScreen {
        width: 90%;
    }
    
    .buttonContainer {
        width: 90%;
    }

    .Player, .Computer {
        font-size: 0.75em;
    }
}